Dobrý den


    Pro obnovení Vašeho hesla přejděte po adrese:
    {{ url('app_reset_password', {token: resetToken.token}) }}
    Tento otkaz má omezenou platnost. Vaprší za {{ tokenLifetime|date('g') }} hodinu..

    Přejeme příjemný den.
