{% extends '@email/layout.html.twig' %}
{% block emailHeader %}
    <td align='center' valign='top'>
        <h2>Obnovení hesla</h2>
    </td>
{% endblock %}

{% block emailContent %}
    <td align='center' style='border-top: 1px solid #dce1e5;border-bottom: 1px solid #dce1e5;' valign='top'>
        <p style='margin: 1em 0;'>
            <strong>E-mail:</strong>
            <a href="mailto:{{ email.to[0].address }}" style="color: #000000 !important;">{{ email.to[0].address }}</a>
        </p>
    </td>
{% endblock %}

{% block emailFooter %}
    <td align='center' valign='top'>
        <p style='margin: 1em 0;'>
            <br>
            Pro obnovení Vašeho hesla zmáčkněte tlačítko <strong>"Změnit heslo"</strong>. Tento otkaz má omezenou
            platnost. Vyprší za <strong>{{ tokenLifetime|date('g') }} hodinu</strong>.
        </p>
    </td>
    <tr>
        <td align='center' bgcolor='#C7232F' valign='top'>
            <h3><a href="{{ url('app_reset_password', {token: resetToken.token}) }}" style="color: #ffffff !important">Změnit
                    heslo</a></h3>
        </td>
    </tr>
{% endblock %}

