{% extends '@email/layout.html.twig' %}

{% block emailHeader %}
    <td align='center' valign='top'>
        <h2>Změna stavu objednávky číslo: {{ order.orderNumber }}</h2>
    </td>
    <tr>
        <td align='center' valign='top'>
            <h4 style='color: #C7232F !important'>Informace:</h4>
        </td>
    </tr>
{% endblock %}

{% block emailContent %}
    <td align='center'
        style='border-top: 1px solid #dce1e5;border-bottom: 1px solid #dce1e5;'
        valign='top'>
        <p style='margin: 1em 0;'>
            <strong>Nový stav objednávky:</strong>
            <span style="color: #000000 !important;">{{ order.orderStatus.name }}</span>
        </p>
    </td>
{% endblock %}

{% block emailFooter %}
    <td align='center' valign='top'>
        <p style='margin: 1em 0;'>
            <br>
            Přejeme příjemný den.

        </p>
    </td>
{% endblock %}
