{% extends '@email/layout.html.twig' %}

{% block emailHeader %}
    <td align='center' valign='top'>
        <h2>Děkujeme za registraci v Berboty!</h2>
    </td>
    </tr>
<tr>
    <td align='center' valign='top'>
        <h4 class="color-red">Potvrzení registrace</h4>
    </td>
</tr>
{% endblock %}

{% block emailContent %}
    <td align='center'
        style='border-top: 1px solid #dce1e5;border-bottom: 1px solid #dce1e5;'
        valign='top'>
        <p style='margin: 1em 0;'>
            <strong>Přihlašovací e-mail:</strong>
            <a href="mailto:email.to[0].address" style="color: #000000 !important;">{{ email.to[0].address }}</a>
        </p>
{#        <p style='margin: 1em 0;'>#}
{#            <strong>Heslo:</strong>#}
{#            {{ plainPassword }}#}
{#        </p>#}
    </td>
{% endblock %}

{% block emailFooter %}
    <td align='center' valign='top'>
        <p style='margin: 1em 0;'>
            <br>
            Přejeme příjemný den.

        </p>
    </td>
{% endblock %}
