{% extends '@email/layout.html.twig' %}

{% block emailHeader %}
    <td align='center' valign='top'>
        <h2>Objednávka č.: {{ order.orderNumber }} byla úspěšně zaplacena</h2>
    </td>
    <tr>
        <td align='center' valign='top'>
            <h4 style='color: #C7232F !important'>Informace:</h4>
        </td>
    </tr>
{% endblock %}

{% block emailContent %}
    <td align='center'
        style='border-top: 1px solid #dce1e5;border-bottom: 1px solid #dce1e5;'
        valign='top'>
        <p style='margin: 1em 0;'>
            <strong>Typ platby:</strong>
            <span style="color: #000000 !important;">{{ order.payment.name }}</span>
        </p>
        <p style='margin: 1em 0;'>
            <strong>Částka:</strong>
            <span style="color: #000000 !important;">{{ fullPrice|number_format(0, ',', ' ') ~ " Kč" }}</span>
        </p>
        <p style='margin: 1em 0;'>
            <strong>Číslo platby:</strong>
            <span style="color: #000000 !important;">{{ paymentNumber }}</span>
        </p>
        <p style='margin: 1em 0;'>
            <strong>Datum úhrady:</strong>
            <span style="color: #000000 !important;">{{ order.paymentDate|date("d.m.Y H:i") }}</span>
        </p>
    </td>
{% endblock %}

{% block emailFooter %}
    <td align='center' valign='top'>
        <p style='margin: 1em 0;'>
            <br>
            Přejeme příjemný den.

        </p>
    </td>
{% endblock %}
