BERBOTY
----------------
Typ platby: {{ order.payment.name }}
Číslo platby: {{ paymentNumber }}
Částka: {{ fullPrice|number_format(0, ',', ' ') ~ " Kč" }}
Datum úhrady: {{ order.paymentDate|date("d.m.Y H:i") }}


Přejeme příjemný den.
