BERBOTY
----------------

Potvrzujeme vytvoření objednávky číslo: {{ order.orderNumber }}

Informace:

Zákazník: {{ order.customerName() is not null ?  order.customerName() : '' }} {{ order.customerSurname() is not null ?  order.customerSurname() : '' }}


Adresa dodání:
{% if order.delivery.slug == 'zasilkovna' or order.delivery.slug == 'zasilkovna-sk'%}
{{ order.deliveryInfo.place }}
{{ order.deliveryInfo.nameStreet is defined ? order.deliveryInfo.nameStreet : '' }}
{% else %}
{{ order.street is not null ?  order.street : '' }} {{ order.houseNumber is not null ?  order.houseNumber : '' }}
{{ order.city is not null ?  order.city : '' }}{{ order.municipality is not null and order.municipality != '' ? ' - ' ~ order.municipality : '' }} {{ order.zip is not null ?  order.zip : '' }}
{{ order.country is not null ?  order.country.name : '' }}
{% endif %}

Email:{{ order.customerPhone and order.customerPhone is defined ? order.customerPhone : '' }}
Telefon: {{ order.customerEmail and order.customerEmail is defined ? order.customerEmail : '' }}
Doprava: {{ order.delivery.name }} ({{ order.deliveryPrice > 0 ? order.deliveryPrice|number_format(0, ',', ' ') ~ " Kč" : 'zdarma' }})
Způsob platby: {{ order.payment.name }} ({{ order.paymentPrice > 0 ? order.paymentPrice|number_format(0, ',', ' ') ~ " Kč" : 'zdarma' }})
Poznámka: {{ order.note is not null ? order.note : ''}}

{% if order.payment.slug == 'online' %}
Zaplatit: 
{{ url('frontend_order_payment_generate_url') }}
{% endif %}

    {% if order is not null %}
        {% for orderProductVariant in order.productVariants %}
            {% set price = orderProductVariant.price[order.currency.symbol] is defined ? orderProductVariant.price[order.currency.symbol] : null %}
            {% set productVariant = orderProductVariant.productVariant %}
            {% set product = productVariant.product %}
                {{ product.translations[locale] is defined ? product.translations[locale].name : '' }} {{ productVariant.translations[locale] is defined ? '- ' ~ productVariant.translations[locale].name : '' }}
                {{ orderProductVariant.count }}ks
                            {{ price is not null ? price.actualWithoutVat > 0 ? price.actualWithoutVat|round|number_format(0, '.', '') : price.withoutVat|round|number_format(0, '.', '') : '----' }} Kč bez DPH
                            {{ price is not null ? price.actualWithVat > 0 ? price.actualWithVat|round|number_format(0, '.', '') : price.withVat|round|number_format(0, '.', '') : '----' }} Kč s DPH
        {% endfor %}
    {% endif %}

Celkem: {{ order.fullPrice }} Kč

Děkuji za objednávku na mém e-shopu. Pokud bych vám mohla být nápomocna radou či pomocí, neváhejte mě kontaktovat emailem info@berboty.cz nebo na tel. čísle 733 122 626. Přeji vám krásné dny, Zuzka Konečná

Pokud máte jakékoliv výhrady, dejte vědět, nechám si poradit ;)

Hezký den,
Zuzana Konečná

