{% extends '@email/layout.html.twig' %}

{% block emailHeader %}
    <td align='center' valign='top'>
        <h2 style="line-height: 1em;">Potvrzuji vytvoření objednávky číslo: {{ order.orderNumber }}.</h2>
    </td>
    <tr>
        <td align='center' valign='top'>
            <h4 style='color: #C7232F !important'>Informace:</h4>
        </td>
    </tr>
{% endblock %}

    {% block emailContent %}
        <td align='left'
            style='border-top: 1px solid #dce1e5;border-bottom: 1px solid #dce1e5;'
            valign='top'>
            <p style='margin: 1em 7rem;'>
                <strong>Zákazník:</strong>
                <span align='end'
                      style="float: right;">{{ order.customerName() is not null ?  order.customerName() : '' }} {{ order.customerSurname() is not null ?  order.customerSurname() : '' }}</span>
            </p>
            <table style='margin: 1em 6.8rem; width: 20rem'>
                <tr>
                    <td>
                        <strong>Adresa dodání:</strong>
                    </td>
                    {% if order.delivery.slug == 'zasilkovna' or order.delivery.slug == 'zasilkovna-sk' %}
                        <td align="end">
                            <a href="{{ order.deliveryInfo.url }}">{{ order.deliveryInfo.place }}</a>
                            <br>
                            {{ order.deliveryInfo.nameStreet is defined ? order.deliveryInfo.nameStreet : '' }}
                            <br>
                        </td>
                    {% else %}
                        <td align="end">
                            {{ order.street is not null ?  order.street : '' }} {{ order.houseNumber is not null ?  order.houseNumber : '' }}
                            <br>
                            {{ order.city is not null ?  order.city : '' }}{{ order.municipality is not null and order.municipality != '' ? ' - ' ~ order.municipality : '' }} {{ order.zip is not null ?  order.zip : '' }}
                            <br>
                            {{ order.country is not null ?  order.country.name : '' }}
                        </td>
                    {% endif %}
                </tr>
            </table>
            <p style='margin: 1em 7rem;'>
                <strong>Telefon:</strong>
                <span align='end'
                      style="float: right;">{{ order.customerPhone and order.customerPhone is defined ? order.customerPhone : '' }}</span>
            </p>
            <p style='margin: 1em 7rem;'>
                <strong>Email:</strong>
                <span align='end'
                      style="float: right;">{{ order.customerEmail and order.customerEmail is defined ? order.customerEmail : '' }}</span>
            </p>
            <p style='margin: 1em 7rem;'>
                <strong>Doprava:</strong>
                <span align='end'
                      style="float: right;">{{ order.delivery.name }} ({{ order.deliveryPrice > 0 ? order.deliveryPrice|number_format(0, ',', ' ') ~ " Kč" : 'zdarma' }})</span>
            </p>
            <p style='margin: 1em 7rem;'>
                <strong>Způsob platby:</strong>
                <span align='end'
                      style="float: right;">{{ order.payment.name }} ({{ order.paymentPrice > 0 ? order.paymentPrice|number_format(0, ',', ' ') ~ " Kč" : 'zdarma' }})</span>
            </p>
            <p style='margin: 1em 7rem;'>
                <strong>Datum objednávky:</strong>
                <span align='end'
                      style="float: right;">{{ order.createdAt|date ('Y.m.d') }}</span>
            </p>
            <p style='margin: 1em 7rem'>
                <strong>Poznámka:</strong>
                <span align='end'
                      style="float: right;">{{ order.note is not null ? order.note : '' }}</span>
            </p>
            {% if order.payment.slug == 'bank-account' %}
                <p style='margin: 1em 7rem;'>
                    <strong>Číslo účtu:</strong>
                    <span align='end'
                          style="float: right;">{{ order.payment.options['bank-account']['value'] }}/{{ order.payment.options['bank-code']['value'] }}</span>
                </p>
                <p style='margin: 1em 7rem;'>
                    <strong>Variabilní symbol:</strong>
                    <span align='end'
                          style="float: right;">{{ order.orderNumber}}</span>
                </p>
                <p style='margin: 1em 7rem;'>
                    <strong>Název banky:</strong>
                    <span align='end'
                          style="float: right;">{{ order.payment.options['bank-name']['value'] }}</span>
                </p>
                {% autoescape false %}
                    <p style="text-align: center">
                        <strong>QR kód platby:</strong>
                    </p>
                    <p class="qr">
                        <img src="{{protocol}}://{{ host }}/objednavka/qr/{{ order.id }}" alt="Qr code">
                    </p>
                {% endautoescape %}
            {% endif %}
{#            {% if order.payment.slug == 'online' %}#}
{#                    <p style="text-align: center; background-color: #C7232F;margin: 2rem 0rem 1rem;padding: 1rem;font-size: 20px;font-weight: bold;" align='center' bgcolor='#C7232F' valign='top'>#}
{#                        <strong><a href="{{ url('frontend_order_payment_generate_url') }}" style="color: #ffffff !important">Zaplatit</a></strong>#}
{#                    </p>#}
{#            {% endif %}#}
            <br>
            <p style="border-bottom: 1px solid #dce1e5;"></p>
            {% if order is not null %}
                <table width="100%" border="0" cellpadding="0" cellspacing="0">
                    <colgroup>
                        <col width="1%">
                        <col width="7%">
                        <col width="57%">
                        <col width="4%">
                        <col width="14%">
                        <col width="18%">
                    </colgroup>
                    <tbody>
                    <tr>
                        <td width="1%" style="padding: 5px 0px;" valign="center" align="left">&nbsp;</td>
                        <td width="62%" style="padding: 5px 5px 0px 0px;" colspan="2" valign="center" align="left">
                            Produkt
                        </td>
                        <td width="4%" style="padding: 5px 5px 0px 0px;" valign="center" align="right">Ks</td>
                        <td width="18%" style="padding: 5px 5px 0px 0px;" valign="center" align="right">Cena bez DPH
                        </td>
                        <td width="15%" style="padding: 5px 5px 0px 0px;" valign="center" align="right">Cena s DPH</td>
                    </tr>
                    <tr>
                        <td style="border-top: 1px solid rgb(224, 224, 224);">&nbsp;</td>
                        <td style="border-top: 1px solid rgb(224, 224, 224);">&nbsp;</td>
                        <td style="border-top: 1px solid rgb(224, 224, 224);">&nbsp;</td>
                        <td style="border-top: 1px solid rgb(224, 224, 224);">&nbsp;</td>
                        <td style="border-top: 1px solid rgb(224, 224, 224);">&nbsp;</td>
                        <td style="border-top: 1px solid rgb(224, 224, 224);">&nbsp;</td>
                        <td style="border-top: 1px solid rgb(224, 224, 224);">&nbsp;</td>
                    </tr>
                    {% for orderProductVariant in order.productVariants %}
                        {% set price = orderProductVariant.price[order.currency.symbol] is defined ? orderProductVariant.price[order.currency.symbol] : null %}
                    <tr>
                            {% set productVariant = orderProductVariant.productVariant %}
                            {% set product = productVariant.product %}
                            <td>&nbsp;</td>
                            <td valign="center"><img alt="Product picture" height="40" width="40"
                                                     src="{{ product.getMainPhoto() is not empty ? product.getMainPhoto().photo.children[1].url : asset('img/File_not_found.png') }}"
                                ></td>
                            <td style="padding: 5px;" valign="center">{{ product.translations[locale] is defined ? product.translations[locale].name : '' }} {{ productVariant.translations[locale] is defined ? '- ' ~ productVariant.translations[locale].name : '' }}
                            </td>
                            <td style="padding: 5px 5px 0px 0px;" valign="center" align="right">{{ orderProductVariant.count }}</td>
                            <td style="padding: 5px 5px 0px 0px;" valign="center" align="right"><font color="gray">{{ price is not null ? price.actualWithoutVat > 0 ? price.actualWithoutVat|round|number_format(0, '.', '') : price.withoutVat|round|number_format(0, '.', '') : '----' }} Kč</font></td>
                            <td style="padding: 5px 5px 0px 0px;" valign="center" align="right">{{ price is not null ? price.actualWithVat > 0 ? price.actualWithVat|round|number_format(0, '.', '') : price.withVat|round|number_format(0, '.', '') : '----' }} Kč</td>
                    </tr>
                    {% endfor %}
                    <tr>
                        <td style="border-bottom: 1px solid rgb(224, 224, 224);">&nbsp;</td>
                        <td style="border-bottom: 1px solid rgb(224, 224, 224);">&nbsp;</td>
                        <td style="border-bottom: 1px solid rgb(224, 224, 224);">&nbsp;</td>
                        <td style="border-bottom: 1px solid rgb(224, 224, 224);">&nbsp;</td>
                        <td style="border-bottom: 1px solid rgb(224, 224, 224);">&nbsp;</td>
                        <td style="border-bottom: 1px solid rgb(224, 224, 224);">&nbsp;</td>
                        <td style="border-bottom: 1px solid rgb(224, 224, 224);">&nbsp;</td>
                    </tr>
                    </tbody>
                </table>
            {% endif %}
            <p style='margin: 1em 7rem;'>
                <strong>Celkem:</strong>
                <span align='end'
                      style="float: right;">{{ (order.fullPrice)|number_format(0, '.', '') }} Kč</span>
            </p>
        </td>
    {% endblock %}

    {% block emailFooter %}
        <td align='center' valign='top' style='padding: 1em 0;'>
            <p>
                Děkuji za objednávku na mém e-shopu. Pokud bych vám mohla být nápomocna radou či pomocí, neváhejte mě kontaktovat emailem
                <a href="mailto:info@berboty.cz">info@berboty.cz</a> nebo na tel. čísle <a href="tel:733122626">733 122 626</a>. Přeji vám krásné dny, Zuzka Konečná
            </p>
            <p style="margin-top: 10px">
                Pokud máte jakékoliv výhrady, dejte vědět, nechám si poradit ;)
            </p>
            <p style="margin-top: 10px">
                Hezký den,
                <br>
                Zuzana Konečná
            </p>
        </td>
    {% endblock %}
